# Django and Web Framework
Django


# Flask APIs
Flask
Flask-CORS

# Machine Learning and Deep Learning
tensorflow
ultralytics
opencv-python
mediapipe

# Computer Vision and Image Processing
matplotlib
numpy
scipy

# Data Processing
pandas
scikit-learn

# Utilities
requests
python-dotenv