{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Signup Form</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>
  <body>
    <div class="buttons">
      <div class="backBtn" onclick="window.location.href = '{% url 'MainPage' %}'">
        <i class="uil uil-navigator"></i>
        <span class="btnText">Back</span>
      </div>
    </div>

    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>
        <form action="{% url 'signupSystem' %}"  method="POST">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Full name" required />
          <input type="email" name="email" placeholder="Email address" required />
          <input type="password" name="password" placeholder="Password" required />
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" />
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <input type="submit" value="Signup" />
        </form>
      </div>

     

      <script>
        const wrapper = document.querySelector(".wrapper");
        const signupHeader = document.querySelector(".signup header");
        const loginHeader = document.querySelector(".login header");

        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });

        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });

        function showPopup() {
          alert("Your account has been created");
          wrapper.classList.add("active");
        }

        function saveDataInCloud() {
          alert("Welcome to Your Profile");
         
        }
      </script>
    </section>
  </body>
</html>
