/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0faff;
  /* background-image: url("../images/doc.jpg") */
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image:linear-gradient(90deg, #ffffffd8 25%, #1d030900 63%) , url(../images/doc.jpg);
    /* background-image:url(../images/main.jpeg); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    padding-top: 60px;
}
.backBtn{
  display: inline-block;
  margin-top: 12px;
 
  

}
.backBtn{
 

  font-size: 18px;

 
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.3s ease; 
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0f51e0;
  color: white;
  border: none;
  cursor: pointer;
}
.backBtn:hover{
  background: #210e57;
}
.wrapper {
  position: relative;
  max-width: 470px;
  width: 120%;
  border-radius: 12px;
  padding: 20px
    30px
    120px;
  /* background-image: url("../images/main.jpeg"); */
  box-shadow: -20
    5px
    10px
    rgba(
      0,
      0,
      0,
      0.1
    );
  overflow: hidden;
}
.form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(
    -50%
  );
  width: calc(
    100% +
      220px
  );
  padding: 20px
    140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all
    0.6s
    ease;
}
.wrapper.active
  .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px
    10px rgba(0, 0, 0, 0.1);
}
.form
  header {
  font-size: 30px;
  text-align: center;
  color: white;
  box-shadow: 10px #333;
  font-weight: 600;
  cursor: pointer;
}
.form.login
  header {
  color: #333;
  opacity: 0.6;
}
.wrapper.active
  .form.login
  header {
  opacity: 1;
}
.wrapper.active
  .signup
  header {
  opacity: 0.6;
}
.wrapper
  form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
form
  input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0
    15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}
.form.login
  input {
  border: 1px
    solid
    #aaa;
}
.form.login
  input:focus {
  box-shadow: 0
    1px 0
    #ddd;
}
form
  .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox
  input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}
form
  .checkbox
  label {
  cursor: pointer;
  color: #fff;
}
form a {
  color: #333;
  text-decoration: none;
}
form
  a:hover {
  text-decoration: underline;
}
form
  input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.form.login
  input[type="submit"] {
  background: #4070f4;
  color: #fff;
  border: none;
}
